.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
}

.nav-link {
  color: #888;
  font-size: 14px;
}

.subNav_Img {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.placeHolder_Img {
  width: 10%;
}

.subNav_Tabs {
  align-items: flex-end;
  justify-content: flex-end;
}

.avatar_Username {
  margin: auto;
  display: block;
  color: #888;
  /* margin-top: 0; */
}

.full_name {
  margin-top: 15px;
  color: #212529;
}

.active_date {
  margin-bottom: 15px;
  font-size: 14px;
}

.avatar_Username {
  align-items: left;
}

.mainColumnPadding {
  padding: 10px 20px 20px;
  display: block;
  color: #888;
  font-size: 13px;
}

.navList {
  list-style: none;
}
.navListLabel {
  color: #444;
}

.clearFix {
  display: table;
  content: "";
  line-height: 0;
}

.colDivider {
  height: 0px;
  width: auto;
  border-top: 1px solid #e9e9e9;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.mainContentColumn {
  /* width: 720px; */
  justify-content: flex-end;
  flex: 2 0 0;
}

.leftContentColumn {
  box-sizing: border-box;
  justify-content: flex-start;
  flex: 1 0 0;
  /* width: 220px; */
}
